<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>흙토람 메인</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

  <header>
    <img src="{% static 'images/h1_logo.png' %}" alt="흙토람 로고" class="logo">
    <div class="user-actions">
      <button><i class="icon icon3"></i>로그인</button>
      <button><i class="icon icon4"></i>ENGLISH</button>
    </div>
  </header>

  <main>
    <div class="main-title">흙토람 서비스</div>
    <div class="sub-title">토양과 작물에 맞는 처방 서비스를 만나보세요</div>

    <div class="card-container">
      <a href="#" class="card">
        <div class="icon-area soil-bg">
          <i class="icon icon27"></i>
        </div>
        <h2>비료사용처방</h2>
        <p>작물별 비료 적정량을 추천해주는 서비스를 확인해보세요.</p>
      </a>

      <a href="{% url 'water:water' %}" class="card">
        <div class="icon-area water-bg">
          <i class="icon icon37"></i>
        </div>
        <h2>물사용처방</h2>
        <p>밭작물의 생육단계별 물 필요량을 간편하게 확인해보세요.</p>
      </a>
    </div>
  </main>

</body>
</html>