<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>비료사용처방</title>
  <meta name="viewport" content="width=1024,user-scalable=no">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <div class="container">
    <nav>
      <a class="nav-link" href="{% url 'main-index' %}">홈</a> |
      <a class="nav-link" href="{% url 'water:water' %}">물사용처방</a> |
      <span class="nav-menu">
        <a class="nav-link" href="javascript:void(0)">비료사용처방</a>
        <div class="dropdown-content">
          <a class="dropdown-link" href="{% url 'fertilizer:prescription' %}">비료사용처방</a>
          <a class="dropdown-link" href="{% url 'fertilizer:experience' %}">비료사용처방 체험하기</a>
          <a class="dropdown-link" href="{% url 'fertilizer:standard' %}">비료 표준사용량 처방</a>
        </div>
      </span>
    </nav>
    <h1>비료사용처방 체험하기</h1>
  </div>
</body>
</html>