<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>물사용처방</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/water.css' %}">

</head>
<body>
  <div class="container">
    <!-- nav -->
    <nav>
      <a class="nav-link" href="{% url 'main-index' %}">홈</a> |
      <a class="nav-link" href="{% url 'water:water' %}">물사용처방</a> |
      <span class="nav-menu">
        <a class="nav-link" href="javascript:void(0)">비료사용처방</a>
        <div class="dropdown-content">
          <a class="dropdown-link" href="{% url 'fertilizer:prescription' %}">비료사용처방</a>
          <a class="dropdown-link" href="{% url 'fertilizer:experience' %}">비료사용처방 체험하기</a>
          <a class="dropdown-link" href="{% url 'fertilizer:standard' %}">비료 표준사용량 처방</a>
        </div>
      </span>
    </nav>
    <h1>노지 밭 물사용 처방</h1>
    <div class="form-box">
      <div><label>· 지역</label></div>
      <div>
        <label>· 작물</label>
        <select id="crop_gbn">
          <option value="">작물분류</option>
        </select>
        <select id="crop">
          <option value="">작물</option>
        </select>
      </div>
      <div>
        <label>· 파종·정식시기</label>
        <input type="date" id="exam_day" />
        <span id="recommended">권장 파종·정식시기: ―</span>
      </div>
      <div><label>· 기상정보</label></div>
      <div><label>· 관수방법</label></div>
      <div><label>· 노지밭면적</label></div>
    </div>
  </div>
</body>
</html>