<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>물사용처방</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'water/css/water.css' %}">

</head>
<body>
  <div class="container">
    <!-- nav -->
    <nav>
      <a class="nav-link" href="{% url 'main-index' %}">홈</a> |
      <a class="nav-link" href="{% url 'water:water' %}">물사용처방</a> |
      <span class="nav-menu">
        <a class="nav-link" href="javascript:void(0)">비료사용처방</a>
        <div class="dropdown-content">
          <a class="dropdown-link" href="{% url 'fertilizer:prescription' %}">비료사용처방</a>
          <a class="dropdown-link" href="{% url 'fertilizer:experience' %}">비료사용처방 체험하기</a>
          <a class="dropdown-link" href="{% url 'fertilizer:standard' %}">비료 표준사용량 처방</a>
        </div>
      </span>
    </nav>
    <h1>노지 밭 물사용 처방</h1>
    <div class="form-box">
      <div>
        <label>· 지역</label>
        <select id="sido" style="width: 150px;">
            <option value="">선택</option>
            <option value="52">전북특별자치도</option>
            <option value="43">충청북도</option>
        </select>
        <select id="sgg" style="width: 150px;">
            <option value="">선택</option>
        </select>
        <button type="button" class="button">지도에서 선택</button>
      </div>
      <div>
        <label>· 작물</label>
        <select id="crop_gbn">
          <option value="">작물분류</option>
          <option value="1">곡류</option>
        </select>
        <select id="crop">
          <option value="">작물</option>
        </select>
      </div>
      <div>
        <label>· 파종·정식시기</label>
        <input type="date" id="exam_day" />
        <span id="recommended">권장 파종·정식시기: ―</span>
      </div>
      <div>
        <label>· 기상정보</label>
        <select id="weather">
          <option value="">평년선택</option>
          <option value="1">최근3년</option>
          <option value="2">최근10년</option>
        </select>
      </div>
      <div>
        <label>· 관수방법</label>
        <select id="irrigation">
          <option value="">관수방법</option>
          <option value="1">점적관수</option>
          <option value="2">스프링클러</option>
          <option value="3">분수호스</option>
          <option value="4">고랑관수</option>
        </select>
      </div>
      <div>
        <label>· 노지밭면적</label>
        <input type="text" id="area" />
        <span class="unit">m²</span>
      </div>
      <div class="info">* 기상정보 데이터 산정에 따라 조회내용표출이 다소 지연될 수 있습니다.</div>
      <div class="button-center">
        <button type="button" class="button search-button">
            <span class="icon"></span>검색
        </button>
        <button type="button" class="button default">초기화</button>
      </div>
    </div>
  </div>
</body>
</html>